language: java
jdk:
  - oraclejdk8
env:
  - TERM=dumb
before_install:
  - chmod +x gradlew
script: ./gradlew build check --scan
after_success:
  - ./gradlew jacocoTestReport coveralls
notifications:
  email: false